.login-wrapper {
  display: flex;
  min-height: 100vh;
}

.login-left {
  flex: 1;
  background-color: #002814; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.login-left .login-logo {
  width: 120px;
  margin-bottom: 20px;
}

.login-left h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 16px;
  opacity: 0.8;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 60px;
}

.login-right h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
}

.login-right form {
  width: 100%;
  max-width: 350px;
}

.login-right label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

.login-right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-right button {
  width: 100%;
  padding: 12px;
  background-color: #002814;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-right button:hover {
  background-color: #004d26;
}

.login-msg {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #004d26;
  font-weight: bold;
  text-decoration: none;
}
.signup-text a:hover {
  text-decoration: underline;
}
